.extras {
    margin: 20px auto;
    width: 400px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    .life {
        display: flex;
        flex-flow: row wrap;
    }
    h2 {
        margin: 0px 10px;
        font-size: 2rem;
    }
    .new-game {
        padding: 20px;
        background: white;
        border-radius: 0.5rem;
        transition: 500ms;
        &:hover {
            cursor: pointer;
            background: rgb(122, 226, 122);
        }
    }
}