.hangman {
    text-align: center;
    margin-top: 20px;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
        height: 230px;
        width: 200px;
    }
    h1.loser {
        font-size: 5rem;
        padding: 50px;
        border: 2px solid rgb(199, 89, 89);
        border-radius: 0.5rem;
        color: white;
        background: rgb(199, 89, 89);
    }
}